.list-container {
    width: 100%;
    padding: 24px 32px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.list-item {
    flex-direction: column;
    width: 49%;
    border-radius: 12px;
    box-shadow: 0 8px 20px #ccc;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
.cover {
    height: 336px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.name {
    font-size: 28px;
    margin: 16px;
}

.author {
    display: flex;
    align-items: center;
    width: 100%;
    height: 64px;
    padding: 0 16px;
    color: #9C9C9C;
    font-size: 24px;
}
.author image {
    width: 32px;
    height: 32px;
    border-radius: 32px;
    margin-right: 8px;
}