.list-container {
    width: 100%;
    padding: 24px 32px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.list-item {
    flex-direction: column;
    width: 49%;
    border-radius: 12px;
    box-shadow: 0 8px 20px #ccc;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
.cover {
    height: 336px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.name {
    font-size: 28px;
    margin: 16px;
}
.newPrice {
    color: #FF6815;
    font-size: 34px;
    margin: 0 16px;
}
.price {
    color: #7F7F7F;
    font-size: 28px;
    text-decoration: line-through;
}