.swiper-container {
    flex-direction: column;
}
.swiper {
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 380px;
    indicator-color: #D2D2D2;
    indicator-selected-color: #FFAC2A;
    indicator-size: 8px;
    indicator-bottom: 10px;
    indicator-right: 20px;
}
.swiperContent {
    width: 100%;
    height: 100%;
    justify-content: center;
}