.container {
    flex-direction: column;
}
.tabs {
    width: 100%;
}

.tab-bar {
    height: 100px;
    border-top: 2px solid #ccc;
}
.tab-text {
    width: 300px;
    text-align: center;
}
.tab-item {
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tab-item image {
    width: 44px;
    height: 44px;
}
.tab-item text {
    font-size:20px;
}











@media screen and (device-type: tablet) and (orientation: landscape) {
    .title {
        font-size: 100px;
    }
}

@media screen and (device-type: wearable) {
    .title {
        font-size: 28px;
        color: #FFFFFF;
    }
}

@media screen and (device-type: tv) {
    .container {
        background-image: url("../../common/images/Wallpaper.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .title {
        font-size: 100px;
        color: #FFFFFF;
    }
}

@media screen and (device-type: phone) and (orientation: landscape) {
    .title {
        font-size: 60px;
    }
}
